pgadmin:
  labels:
    group: com.stakater.platform
    provider: stakater
    version: 0.1.12
  config:
    username: admin
    email: hello@stakater.com
    url: ""
  tolerations: {}
  deployment:
    replicas: 1
    podLabels:
      app: pgadmin
    annotations:
    spec:
      template:
        annotations:
          fluentdConfiguration: >
            [
                {
                    "containers":
                    [
                        {
                            "expression": "/^\\S*\\s-\\s-\\s\\[(?<time>\\S*)[\\S\\s]*\\]\\s(?<message>[\\S\\s]*)/",
                            "expressionFirstLine": "/^\\:\\:f{4}:[0-9]+.[0-9]+\\.[0-9]+\\.[0-9]+/",
                            "timeFormat": "%d/%b/%Y:%H:%M:%S",
                            "containerName": "pgadmin"
                        },
                        {
                            "expression": "/^\\S*\\s(?<level>\\S*)\\s(?<class>\\S*)\\s(?<message>[\\S\\s]*)/",
                            "expressionFirstLine": "/^[0-9].[0-9]+e\\+[0-9]+/",
                            "timeFormat": "%Y-%m-%d %H:%M:%S,%L",
                            "containerName": "keycloak-proxy"
                        }
                    ]
                }
            ]
        container:
          image: dpage/pgadmin4:4.5
          pullPolicy: IfNotPresent
          port: 80
  service:
    sourcePort: 80
    targetPort: 80
    labels:
      expose:
    annotations:
  secrets:
    password: 
    keycloaksecret: 
  persistence:
    enabled: true
    storageClass: "default"
    size: 4Gi
  ingress:
    host: pgadmin4.mydomain.com
    secondHost: 

## Configure resource requests and limits
## ref: http://kubernetes.io/docs/user-guide/compute-resources/
##
resources:
  requests:
    memory: 300Mi
    cpu: 100m
  limits:
    memory: 1Gi
    cpu: 500m